/*  de google font importe un estilo y de letra */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* El root define variables para utilizar en el documento */
:root {
  --color-oscuro: #454545;
  --color-naranjo: #ff6000;
  --color-naranjo-claro: #ffa559;
  --color-crema: #ffe6c7;
  --font-document: Lobster;
}
/* tuve que cambiar la etiqueta (HTML) por body ya que boostrap me lo detectaba asi */
body {
  background-color: black; /* Color de fondo */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-document); /* Tipo de letra del documento */
}

header {
  background-color: var(--color-naranjo);
}

footer {
  margin: 20px;
  color: #454545;
  border-top: 1px solid var(--color-oscuro);
}
/* etiquetas arriba clases abajo */
.contenedor-header {
  display: flex; /* esta propiedad de  estilo me permite manipular la alineación, el espaciado y el orden de los elementos dentro de un contenedor  */
  justify-content: space-between;
}

.logo > img {
  height: 100px;
  margin: 10px 25px;
}

.navbar {
  display: flex;
  align-items: center; /* aliniea de manera vertical */
  justify-content: center; /* alinia de forma horizontal */
  padding: 0;
}

.list {
  display: flex;
  padding: 0;
  margin: 0;
}

.item-list {
  list-style: none; /* elimina la vi;eta de la lista */
  margin: 0px 15px;
}

.item-list > a {
  text-decoration: none; /* elimina estilos de hipervinculo */
  color: black;
  padding: 5px;
  font-size: x-large;
}

.titulos {
  color: var(--color-naranjo-claro);
  text-align: center;
  margin: 80px 0;
}

.titulos > h1 {
  color: var(--color-naranjo);
}

.pilares {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  border: 8px solid var(--color-naranjo-claro);
  border-radius: 20px;
  background-color: var(--color-oscuro);
  margin: 10px;
  width: 260px;
}

.card > img {
  height: 80px;
  margin: 15px auto;
}

.card > h2 {
  color: var(--color-naranjo);
}

.card > p {
  color: var(--color-naranjo-claro);
  text-align: justify;
  padding: 10px;
}

.carousel-inner {
  height: 400px;
  width: 90%;
  margin: 40px auto;
}

.carousel-item > img {
  object-fit: cover;
  transform: translateY(-10%);
}
/* Los medias Query se utilizan de :
  320px a 576px s
  576px a 768px m
  768px a 992px l
  992px a 1200px xl
 */

@media (min-width: 320px) and (max-width: 768px) {
  .contenedor-header {
    display: flex;
    flex-direction: column;
  }

  .list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-inner {
    height: 150px;
  }
}
