/* Importar estilo de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* Definir variables en el root */
:root {
  --color-oscuro: #454545;
  --color-naranjo: #ff6000;
  --color-naranjo-claro: #ffa559;
  --color-crema: #ffe6c7;
  --font-document: Lobster;
}

/* Estilos generales */
body {
  background-color: black; /* Color de fondo */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-document); /* Tipo de letra del documento */
}

header {
  background-color: var(--color-naranjo);
}

footer {
  margin: 20px;
  color: var(--color-oscuro);
  border-top: 1px solid var(--color-oscuro);
}

/* Clases y estilos de contenedores */
.contenedor-header {
  display: flex; /* Manipular alineación y espaciado */
  justify-content: space-between;
}

.contenedor-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  > img {
    height: 100px;
    margin: 10px 25px;
  }
}

.navbar {
  display: flex;
  align-items: center; /* Alinear verticalmente */
  justify-content: center; /* Alinear horizontalmente */
  padding: 0;
}

.list {
  display: flex;
  padding: 0;
  margin: 0;

  .item-list {
    list-style: none; /* Eliminar viñetas de la lista */
    margin: 0 15px;

    > a {
      text-decoration: none; /* Eliminar estilos de hipervínculo */
      color: black;
      padding: 5px;
      font-size: x-large;
    }
  }
}

.titulos {
  color: var(--color-naranjo-claro);
  text-align: center;
  margin: 80px 0;

  > h1 {
    color: var(--color-naranjo);
  }
}

/* Grid*/
.pilares {
  width: 100%;
  display: grid; /* Cambiar a grid */
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 300px)
  ); /* Crear columnas dinámicas */
  gap: 20px; /* Espacio entre las tarjetas */
  text-align: center;
  justify-content: center;
  align-items: center;
}

.card {
  border: 8px solid var(--color-naranjo-claro);
  border-radius: 20px;
  background-color: var(--color-oscuro);
  margin: 10px; /* Puedes ajustar esto o eliminarlo si el gap de Grid lo cubre */

  > img {
    height: 80px;
    margin: 15px auto;
  }

  > h2 {
    color: var(--color-naranjo);
  }

  > p {
    color: var(--color-naranjo-claro);
    text-align: justify;
    padding: 10px;
  }
}

.carousel-inner {
  height: 400px;
  width: 90%;
  margin: 40px auto;
}

.carousel-item > img {
  object-fit: cover;
  transform: translateY(-10%);
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .contenedor-header {
    flex-direction: column;
  }

  .list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-inner {
    height: 150px;
  }
}
